@inherits LayoutComponentBase
@inject Manager manager
@inject USBConnection usbConnection
<main class="container">
    @Body
</main>
<BlazoredToasts ShowProgressBar="true"
                Timeout="10"
                PauseProgressOnHover="true"/>